<template>
  <div id="app">
    <div class="top__bar">
      <h2 class="logo">wit</h2>
    </div>
  
    <router-view />
  </div>
</template>
<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
.logo{
  font-weight: 700;
  font-size: 40px;
  font-family: Mont;
  color: #79aa00;
  margin: 0;
  padding: 20px;
}
.top__bar{
  background-color: white;
}
</style>
