<template>
  <div class="home">
    <websocket-chat></websocket-chat>
  </div>
</template>

<script>
// @ is an alias to /src
import WebsocketChat from "@/components/WebsocketChat.vue";

export default {
  name: "home",
  components: {
    WebsocketChat
  }
};
</script>
