<template>
  <div class="forum">
    <div v-for="topic in topics" :key="topic.id">
      <router-link class="unset__link__style" :to="{path:'/chat/'+topic.id}">
        <div class="card d-flex align-items-center spacing__top">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <div class="profile__icon__large">
                  <p
                    class="profile__text large__text"
                  >{{topic.creator.name[0]}}{{topic.creator.name.split(" ")[1][0]}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <p>Conversations by {{topic.creator.name}}</p>
                <h3>{{topic.topic}}</h3>
                <!-- <div class="tags">{ this.displayTags(topic.tags)}</div> -->
                <div class="topic_description">{{topic.description}}</div>

                <div class="comments__layout">
                  <!-- <BiMessageSquareDetail class="icon__top__spacing" /> -->
                  <p class="reply">{{topic.forumCommentsNumber}} Comments</p>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>
<script>
import SockJS from "sockjs-client";
import Stomp from "webstomp-client";
import "../app.css";
// Import data/twitter.json to reduce size, all.json contains data for
// all emoji sets.
import data from "emoji-mart-vue-fast/data/all.json";
// Import default CSS
import "emoji-mart-vue-fast/css/emoji-mart.css";

import { Picker, EmojiIndex } from "emoji-mart-vue-fast";
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";


// Vue.use(VueAxios, axios,VueSocketIO, SocketInstance);
// Vue.use()

// Create emoji data index.
// We can change it (for example, filter by category) before passing to the component.
let emojiIndex = new EmojiIndex(data);
const token = "22dd285d-f1f2-439e-90e3-fbfd55b4aba8";
const server = "https://isoko.kenyachamber.or.ke/wit-backend"
// const server = "http://localhost:8080";
const api = server+"/api/forum/topics";
const config = { headers: { Authorization: "Bearer " + token } };

export default {
  name: "websocketdemo",
  components: {
    Picker
  },
  data() {
    return {
      topics: [],
      send_message: null,
      connected: false,
      emojiIndex: emojiIndex,
      showEmojis: false,
      textInput: "",
      comments: [],
      topic: {},
      commentNumber: 0
    };
  },
  methods: {},
  mounted() {
    Vue.axios.get(api, config).then(response => {
      this.topics = response.data.data;
      console.log(this.topics);
    });
  }
};
</script>

