<template>
  <div>
    <div id="main-content" class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="forum__heading">Community Discussion</h1>

          <div class="card d-flex align-items-center">
            <div class="card-body title__container">
              <div class="title__container">
                <h4 class="title__text">{{this.topic.topic}}</h4>
                <div>tags go here</div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="profile__icon__large">
                    <p class="profile__text large__text">{{this.topic.creator.name[0]}}</p>
                  </div>
                </div>
                <div class="col-md-9">
                  <p>Conversations by {{this.topic.creator.name}}</p>

                  <p>{{this.topic.description}}</p>

                  <div style="display:flex;">
                    <img class="commentImage" :src="commentImage" />
                    <textarea style="width:60%" v-model="textInput" />
                  </div>
                  <img
                    style="margin-right: 20px"
                    @click="toggleEmojis"
                    class="image_button"
                    src="../assets/emoji.png"
                  />

                  <input
                    id="file"
                    type="file"
                    @change="loadCommentImage"
                    accept=".jpeg, .jpg, .png"
                  />
                  <label for="file">
                    <img class="image_button" src="../assets/upload.png" />
                  </label>

                  <div class="row" v-if="showEmojis">
                    <picker :data="emojiIndex" set="twitter" @select="showEmoji" />
                  </div>

                  <div>
                    <button
                      style="margin-right: 20px"
                      @click="sendMessage"
                      class="green__button"
                    >Post Comment</button>

                    <button
                      v-if="shouldLike"
                      @click="sendLike(topic.id,`FORUM`)"
                      class="green__button"
                    >Like Discussion</button>
                    <button
                      v-else
                      @click="sendLike(topic.id,`FORUM`)"
                      class="green__button"
                    >Unlike Discussion</button>
                  </div>

                  <div style="display:flex; margin-top : 20px;">
                    <div class="likes__layout">
                      <img class="image_button" src="../assets/reply.png" />
                      <p style="margin:auto 10px;">{{this.commentNumber}} comments</p>
                    </div>
                    <div class="likes__layout">
                      <img class="image_button" src="../assets/heart.png" />
                      <p style="margin:auto 10px;">{{topicLikes}} likes</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
              <div v-for="comment in received_messages" :key="comment.id + keyAddition">
                <div class="card__comment spacing__top">
                  <div class="row" noGutters="true">
                    <div class="col-md-2">
                      <div
                        class="profile__icon__small"
                        style="background-color: #79aa00 !important;"
                      >
                        <p
                          class="profile__text"
                        >{{comment.commenter.name[0]}}{{comment.commenter.name.split(" ")[1][0]}}</p>
                      </div>
                    </div>
                    <div class="col-md-4 align-items-center">
                      <p class="spacing__top__smalll">{{comment.commenter.name}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                      <img
                        v-if="comment.commentImage != null"
                        style="marginTop: 5; marginBottom: 5; marginRight: 5; width: auto; height: 20vmin; borderRadius:unset;"
                        :src="comment.commentImage"
                      />
                      <div style="display: flex;justify-content: space-between;">
                        <p style="margin: auto 0;">{{comment.commentText}}</p>

                        <img
                          v-if="comment.userLikedComment"
                          style="margin-right: 50px;"
                          @click="sendLike(comment.id,`COMMENT`)"
                          class="like_button"
                          src="../assets/heart.png"
                        />
                        <img
                          v-else
                          style="margin-right: 50px;"
                          @click="sendLike(comment.id,`COMMENT`)"
                          class="like_button"
                          src="../assets/unlike.png"
                        />
                      </div>

                      <!-- Sub comments /> -->
                      <!-- <div v-if=""> -->
                      <div v-for="replyView in initialReplyView" :key="replyView.vId">
                        <div
                          v-if="replyView.show && replyView.id == comment.id && comment.subCommentNumber > 0"
                          class="row"
                        >
                          <div class="col-md-1 remove__padding">
                            <hr class="hr__spacing" />
                          </div>
                          <div class="col-md-2 remove__padding">
                            <div v-for="commentNumber in subCommentNumber" :key="commentNumber.id">
                              <div v-if="commentNumber.id == comment.id">
                                <p
                                  @click="getSubComments(comment.id) "
                                  class="reply__title"
                                >View replies ({{commentNumber.number}})</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          v-else-if="!replyView.show && replyView.id == comment.id && comment.subCommentNumber > 0"
                          class="row"
                        >
                          <div class="col-md-1 remove__padding">
                            <hr class="hr__spacing" />
                          </div>
                          <div class="col-md-2 remove__padding">
                            <p @click="hideReplies(comment.id)" class="reply__title">Hide replies</p>
                          </div>
                        </div>
                      </div>
                      <!-- </div> -->

                      <!-- Added Sub comments /> -->
                      <div v-for="subComment in sub_comments" :key="subComment.id + keySubAddition">
                        <div v-if="subComment.commentId == comment.id">
                          <div class="card__comment spacing__top">
                            <div class="row" noGutters="true">
                              <div class="col-md-1" style="margin: auto 0">
                                <div
                                  class="profile__icon__smaller"
                                  style="background-color: #79aa00 !important;"
                                >
                                  <p
                                    class="profile__text__small"
                                  >{{subComment.commenter.name[0]}}{{subComment.commenter.name.split(" ")[1][0]}}</p>
                                </div>
                              </div>
                              <div class="col-md-4 align-items-center">
                                <p class="spacing__top__smalll">{{subComment.commenter.name}}</p>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-1"></div>
                              <div class="col-md-10">
                                <img
                                  v-if="subComment.commentImage != null"
                                  style="marginTop: 5; marginBottom: 5; marginRight: 5; width: auto; height: 20vmin; borderRadius:unset;"
                                  :src="subComment.commentImage"
                                />
                                <div style="display: flex;justify-content: space-between;">
                                  <p style="margin: auto 0;">{{subComment.commentText}}</p>
                                  <img
                                    v-if="subComment.userLikedComment"
                                    style="margin-right: 50px;"
                                    @click="sendLike(subComment.id,`SUBCOMMENT`)"
                                    class="like_button"
                                    src="../assets/heart.png"
                                  />
                                  <img
                                    v-else
                                    style="margin-right: 50px;"
                                    @click="sendLike(subComment.id,`SUBCOMMENT`)"
                                    class="like_button"
                                    src="../assets/unlike.png"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Added Sub comments /> -->
                      <div
                        v-for="subComment in received_sub_comments.slice(0, 1)"
                        :key="subComment.id+11"
                      >
                        <div v-if="subComment.commentId == comment.id">
                          <div class="row">
                            <div class="col-md-1 remove__padding">
                              <hr class="hr__spacing" />
                            </div>
                            <div class="col-md-2 remove__padding">
                              <p class="reply__title">New replies</p>
                            </div>
                            <div class="col-md-9 remove__padding">
                              <hr class="hr__spacing" />
                            </div>
                          </div>
                        </div>
                      </div>

                      <div
                        v-for="subComment in received_sub_comments"
                        :key="subComment.id + keyReceivedSubAddition"
                      >
                        <div v-if="subComment.commentId == comment.id">
                          <div class="card__comment spacing__top">
                            <div class="row" noGutters="true">
                              <div class="col-md-1" style="margin: auto 0">
                                <div
                                  class="profile__icon__smaller"
                                  style="background-color: #79aa00 !important;"
                                >
                                  <p
                                    class="profile__text__small"
                                  >{{subComment.commenter.name[0]}}{{subComment.commenter.name.split(" ")[1][0]}}</p>
                                </div>
                              </div>
                              <div class="col-md-4 align-items-center">
                                <p class="spacing__top__smalll">{{subComment.commenter.name}}</p>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-1"></div>
                              <div class="col-md-10">
                                <img
                                  v-if="subComment.commentImage != null"
                                  style="marginTop: 5; marginBottom: 5; marginRight: 5; width: auto; height: 20vmin; borderRadius:unset;"
                                  :src="subComment.commentImage"
                                />

                                <div style="display: flex;justify-content: space-between;">
                                  <p style="margin: auto 0;">{{subComment.commentText}}</p>
                                  <img
                                    v-if="subComment.userLikedComment"
                                    style="margin-right: 50px;"
                                    @click="sendLike(subComment.id,`SUBCOMMENT`)"
                                    class="like_button"
                                    src="../assets/heart.png"
                                  />
                                  <img
                                    v-else
                                    style="margin-right: 50px;"
                                    @click="sendLike(subComment.id,`SUBCOMMENT`)"
                                    class="like_button"
                                    src="../assets/unlike.png"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div v-for="reply in showMoreReplies" :key="reply.id+100">
                        <div class="row" v-if="reply.show && reply.id == comment.id">
                          <div class="col-md-1 remove__padding">
                            <hr class="hr__spacing" />
                          </div>
                          <div class="col-md-2 remove__padding">
                            <p
                              v-if="reply.replyNo === 0"
                              @click="hideReplies(comment.id)"
                              class="reply__title"
                            >Hide replies</p>
                            <p
                              v-else
                              @click="getSubComments(comment.id)"
                              class="reply__title"
                            >View {{reply.replyNo}} more replies</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row" v-if="showTextArea.show && showTextArea.id == comment.id">
                      <div class="col-md-2"></div>
                      <div class="col-md-10">
                        <!-- <img class="commentImage" :src="commentImage" /> -->
                        <textarea style="width:60%" v-model="textInputSubComment" />
                        <div>
                          <button
                            style
                            @click="sendSubComment(comment.id)"
                            class="green__button"
                          >Post Comment</button>
                        </div>
                      </div>
                    </div>
                    <div v-else>
                      <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                          <button style @click="showReply(comment.id)" class="mute__button">Reply</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="hr__spacing" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import "../app.css";

import data from "emoji-mart-vue-fast/data/all.json";

import "emoji-mart-vue-fast/css/emoji-mart.css";

import { Picker, EmojiIndex } from "emoji-mart-vue-fast";
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";
import { io } from "socket.io-client";


const socket = io("https://isoko.kenyachamber.or.ke",{path:"/wit-forum",transports : ['websocket']});
Vue.use(VueAxios, axios);


let emojiIndex = new EmojiIndex(data);
const token = "22dd285d-f1f2-439e-90e3-fbfd55b4aba8";
const server = "https://isoko.kenyachamber.or.ke/wit-backend"
// const server = "http://localhost:8080";
const api = server + "/api/forum/topic/";
const commentApi = server + "/api/forum/forum-comments/";
const commentNumberApi = server + "/api/forum/comment-number/";
const subCommentNumberApi = server + "/api/forum/sub-comment-number/";
const getSubComments = server + "/api/forum/forum-sub-comments/";
const postLike = server + "/api/forum/like";
const getTopicsLikes = server + "/api/forum/forum-likes/";
const getUserDetails = server + "/api/user/mydetails";
const config = { headers: { Authorization: "Bearer " + token } };

export default {
  name: "websocketdemo",
  components: {
    Picker
  },
  sockets: {
    messageReceived(data) {
      this.received_messages.push(data)
    }
  },
  props: ["id"],
  data() {
    return {
      received_messages: [],
      newMessage: '',
      received_sub_comments: [],
      sub_comments: [],
      send_message: null,
      connected: false,
      emojiIndex: emojiIndex,
      showEmojis: false,
      textInput: "",
      textInputSubComment: "",
      comments: [],
      topic: {},
      commentNumber: 0,
      discussionId: 0,
      commentImage: null,
      showTextArea: { id: 0, show: false },
      showMoreReplies: [{ id: 0, show: false, replyNo: 0, vId: 0 }],
      subCommentsFetched: new Map(),
      initialReplyView: [{ id: 0, show: false, showHide: false }],
      subCommentNumber: [],
      shouldLike: true,
      topicLikes: 0,
      likes: [],
      user: {},
      commentLikes: [],
      keyAddition: 0,
      keySubAddition: 0,
      keyReceivedSubAddition: 0
    };
  },
  methods: {
    sendMessage() {   
      socket.emit("chat", { 
            commentText: this.textInput,
            commentTargetId: this.discussionId,
            imageData: this.commentImage,
            commentTargetType: "COMMENT"
      });
    },
    like(topicId) {
      Vue.axios.post(postLike, { forumId: topicId }, config).then(response => {
        if (response.data.data == "UNLIKED") {
          this.shouldLike = true;
        } else if (response.data.data == "LIKED") {
          this.shouldLike = false;
        }
        let getConfig = {
          headers: { Authorization: "Bearer " + token },
          params: {
            likeTarget: "FORUM"
          }
        };

        Vue.axios.get(getTopicsLikes + topicId, getConfig).then(response => {
          this.topicLikes = response.data.data.length;
        });
      });
    },
    hideReplies(commentId) {
      var i = 0;
      while (i < this.sub_comments.length) {
        if (this.sub_comments[i].commentId === commentId) {
          this.sub_comments.splice(i, 1);
        } else {
          ++i;
        }
      }

      while (i < this.received_sub_comments.length) {
        if (this.received_sub_comments[i].commentId === commentId) {
          this.received_sub_comments.splice(i, 1);
        } else {
          ++i;
        }
      }

      this.showMoreReplies.forEach(e => {
        if (e.id == commentId) {
          const index = this.showMoreReplies.indexOf(e);
          this.showMoreReplies[index] = {
            id: commentId,
            show: false,
            replyNo: 0,
            vId: commentId + 1
          };
        }
      });

      this.initialReplyView.forEach(e => {
        if (e.id == commentId) {
          const index = this.initialReplyView.indexOf(e);
          this.initialReplyView[index] = {
            id: commentId,
            show: true,
            showHide: false
          };
        } else {
        }
      });

      this.subCommentsFetched.set(commentId, { page: 0 });
    },
    getSubComments(commentId) {
      this.initialReplyView.forEach(e => {
        if (e.id == commentId) {
          const index = this.initialReplyView.indexOf(e);
          this.initialReplyView[index] = { id: commentId, show: false };
        }
      });

      var hasKey = this.subCommentsFetched.has(commentId);

      if (!hasKey) {
        this.subCommentsFetched.set(commentId, { page: 0 });
      }

      var pageToFetch = 0;
      for (const [key, value] of this.subCommentsFetched) {
        if (key == commentId) {
          pageToFetch = value.page + 1;
          this.subCommentsFetched.set(commentId, { page: pageToFetch });
        }
      }

      let getConfig = {
        headers: { Authorization: "Bearer " + token },
        params: {
          page: pageToFetch,
          size: 3,
          order: "ASC"
        }
      };

      Vue.axios.get(getSubComments + commentId, getConfig).then(response => {
        response.data.data.forEach(e => {
          this.sub_comments.push(e);
        });

        //the comment need to be sorted since after adde

        var showRepliesExist = false;
        this.showMoreReplies.forEach(e => {
          if (e.id == commentId) {
            var replies = response.data.total - 3 * pageToFetch;
            var replyNumber = 0;
            if (replies >= 3) {
              replyNumber = 3;
            } else if (replies > 0) {
              replyNumber = replies;
            } else {
              replyNumber = 0;
            }

            showRepliesExist = true;
            e.replyNo = replyNumber;
            e.show = true;
            e.vId = commentId + 2;
          }
        });

        if (!showRepliesExist) {
          var replies = response.data.total - 3 * pageToFetch;
          var replyNumber = 0;
          if (replies > 0) {
            replyNumber = replies;
          } else {
            replyNumber = 0;
          }
          this.showMoreReplies.push({
            id: commentId,
            show: true,
            replyNo: replyNumber,
            vId: commentId
          });
        }
      });
    },
    getSubCommentNumber(commentId) {
      var number = "";
      Vue.axios.get(subCommentNumberApi + commentId, config).then(response => {
        number = response.data.data;
      });
      return number;
    },
    showReply(id) {
      this.showTextArea.id = id;
      this.showTextArea.show = true;
    },
    loadCommentImage(e) {
      var imgFile = new FileReader();
      imgFile.readAsDataURL(e.target.files[0]);
      // imgFile.onload = function () {
      //   this.$emit("loaded", this.result)
      // }
      imgFile.onload = e => (this.commentImage = e.target.result);
    },
    toggleEmojis() {
      this.showEmojis = !this.showEmojis;
    },
    showEmoji(emoji) {
      this.showEmojis = false;
      this.textInput = this.textInput + " " + emoji.native;
    },
    sendLike(id, type) {
      socket.emit("like", {
            id: id,
            likeTarget: type
        });
    },
    sendSubComment(commentId) {
      socket.emit("chat", { 
            commentText: this.textInputSubComment,
            commentTargetId: commentId,
            imageData: this.commentImage,
            commentTargetType: "SUBCOMMENT"
      });
    },       
    connectCommenting(discussionId){
      const joinData =  { discussionId: discussionId,token:token }
      socket.emit("joinDiscussion", joinData);
    }
  },
  mounted() {

    socket.on("comments", (commentData) => {

      if (commentData.commentTargetType == "COMMENT") {
        this.received_messages.unshift(commentData);
        this.textInput = "";
        Vue.axios
          .get(commentNumberApi + this.discussionId, config)
          .then(response => {
            this.commentNumber = response.data.data;
          });
      } else if (commentData.commentTargetType == "SUBCOMMENT") {
        this.received_sub_comments.push(commentData);
        this.textInputSubComment = "";

        Vue.axios
          .get(subCommentNumberApi + commentData.commentId, config)
          .then(response => {
            this.subCommentNumber.forEach(e => {
              if (e.id == commentData.commentId) {
                const index = this.subCommentNumber.indexOf(e);
                this.subCommentNumber[index] = {
                  id: commentData.commentId,
                  number: response.data.data
                };
              }
            });
          });
      }
    })
   
    socket.on("likes", (likeData) => {
        if (likeData.target == "COMMENT") {
          this.received_messages.forEach(comment => {
            if (comment.id == likeData.likeResourceId) {
              const index = this.received_messages.indexOf(comment);
              if (likeData.status == "LIKED") {
                this.received_messages[index] = {
                  userLikedComment: true,
                  active: comment.active,
                  commentTargetType: comment.commentTargetType,
                  commentText: comment.commentText,
                  commenter: comment.commenter,
                  dateCreated: comment.dateCreated,
                  id: comment.id,
                  subCommentNumber: comment.subCommentNumber
                };
              } else {
                this.received_messages[index] = {
                  userLikedComment: false,
                  active: comment.active,
                  commentTargetType: comment.commentTargetType,
                  commentText: comment.commentText,
                  commenter: comment.commenter,
                  dateCreated: comment.dateCreated,
                  id: comment.id,
                  subCommentNumber: comment.subCommentNumber
                };
              }
              this.keyAddition += 1;
            }
          });
        } else if (likeData.target == "SUBCOMMENT") {
          this.sub_comments.forEach(comment => {
            if (comment.id == likeData.likeResourceId) {
              const index = this.sub_comments.indexOf(comment);
              if (likeData.status == "LIKED") {
                this.sub_comments[index] = {
                  userLikedComment: true,
                  active: comment.active,
                  commentTargetType: comment.commentTargetType,
                  commentText: comment.commentText,
                  commenter: comment.commenter,
                  dateCreated: comment.dateCreated,
                  commentImage: comment.commentImage,
                  commentId: comment.commentId,
                  id: comment.id
                };
              } else {
                this.sub_comments[index] = {
                  userLikedComment: false,
                  active: comment.active,
                  commentTargetType: comment.commentTargetType,
                  commentText: comment.commentText,
                  commenter: comment.commenter,
                  dateCreated: comment.dateCreated,
                  commentImage: comment.commentImage,
                  commentId: comment.commentId,
                  id: comment.id
                };
              }
              this.keySubAddition += 1;
            }
          });
          this.received_sub_comments.forEach(comment => {
            if (comment.id == likeData.likeResourceId) {
              const index = this.received_sub_comments.indexOf(comment);
              if (likeData.status == "LIKED") {
                this.received_sub_comments[index] = {
                  userLikedComment: true,
                  active: comment.active,
                  commentTargetType: comment.commentTargetType,
                  commentText: comment.commentText,
                  commenter: comment.commenter,
                  dateCreated: comment.dateCreated,
                  commentImage: comment.commentImage,
                  commentId: comment.commentId,
                  id: comment.id
                };
              } else {
                this.received_sub_comments[index] = {
                  userLikedComment: false,
                  active: comment.active,
                  commentTargetType: comment.commentTargetType,
                  commentText: comment.commentText,
                  commenter: comment.commenter,
                  dateCreated: comment.dateCreated,
                  commentImage: comment.commentImage,
                  commentId: comment.commentId,
                  id: comment.id
                };
              }
              this.keyReceivedSubAddition += 1;
            }
          });
        } else if (likeData.target == "FORUM") {
          let getForumConfig = {
            headers: { Authorization: "Bearer " + token },
            params: {
              likeTarget: "FORUM"
            }
          };

          Vue.axios
            .get(getTopicsLikes + this.discussionId, getForumConfig)
            .then(response => {
              this.topicLikes = response.data.data.length;

              response.data.data.forEach(element => {
                const index = this.likes.indexOf(element);

                if (element.userName === this.user.username) {
                  this.shouldLike = false;
                }
              });

              if (response.data.data.length === 0) {
                this.shouldLike = true;
              }
            });
        }
            
    });
    // this.connectLiking();
    this.subCommentsFetched[0] = { page: 0 };
    this.discussionId = this.$route.params.id;

    let getForumConfig = {
      headers: { Authorization: "Bearer " + token },
      params: {
        likeTarget: "FORUM"
      }
    };

    Vue.axios
      .get(getTopicsLikes + this.discussionId, getForumConfig)
      .then(response => {
        this.likes = response.data.data;
        if (response.data.data.length > 0) {
          this.likes.forEach(e => {
            if (e.username == this.user.username) {
              this.shouldLike = false;
            } else {
              this.shouldLike = true;
            }
          });
        } else {
          this.shouldLike = true;
        }
      });

    Vue.axios.get(getUserDetails, config).then(response => {
      this.user = response.data.data;
    });

    Vue.axios.get(api + this.discussionId, config).then(response => {
      this.topic = response.data.data;
      this.connectCommenting(this.topic.id)
      this.commentNumber = this.topic.forumCommentsNumber;
      this.topicLikes = this.topic.forumLikesNumber;
      Vue.axios.get(commentApi + this.discussionId, config).then(response => {
        this.received_messages = response.data.data;

        response.data.data.forEach(e => {
          this.initialReplyView.push({ id: e.id, show: true });
          this.subCommentNumber.push({
            id: e.id,
            number: e.subCommentNumber
          });

          let getConfig = {
            headers: { Authorization: "Bearer " + token },
            params: {
              likeTarget: "COMMENT"
            }
          };
        });
      });
    });
  },
  beforeDestroy(){
    socket.disconnect()
  }
};
</script>
